services:
  ## Create Service for Postgres
  postgres:
    container_name: postgres
    image: postgres
    build:
      context: ./postgres
    ports:
      - "5432:5432"
    volumes:
      - /src/postgres/data_pg:/var/lib/postgresql/data/
    env_file:
      - .env
    restart: always