services:
  ## Create Service for Postgres
  postgres:
    container_name: postgres
    image: postgres:latest
    ports:
      - "5432:5432"
    volumes:
      - /src/postgres/data_pg:/var/lib/postgresql/data/
    env_file:
      - .env
    restart: always
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    ports:
      - "5050:80"
    env_file:
      - .env
    restart: always